/*--|►| Colors |◄|--*/
$primary-dark: #0e1e3b; //--► rgba(14, 30, 59, 1) ◄--//
$primary-medium: #6e7889; //--► rgba(14, 30, 59, 0.6) ◄--/*/
$primary-light: #cfd2d8; //--► rgba(14, 30, 59, 0.2) ◄--//

$secondary-dark: #935e28; //--► rgba(147, 94, 40, 1) ◄--//
$secondary-medium: #be9e7e; //--► rgba(147, 94, 40, 0.6) ◄--//
$secondary-light: #fcd5aa; //--► rgba(147, 94, 40, 0.2) ◄--//

//--|▼| Button Colors |▼|--//
$green-neon: #00ff00; /*--► rgba(0, 255, 0, 1) ◄--*/
$green-dark: #274e13; /*--► rgba(39, 78, 19, 1) ◄--*/
$green-light: #b6d7a8; /*--► rgba(182, 215, 168, 1) ◄--*/

$pink-neon: #ff00ff; /*--► rgba(255, 0, 255, 1) ◄--*/
$pink-dark: #4c1130; /*--► rgba(76, 17, 48, 1) ◄--*/
$pink-light: #d5a6bd; /*--► rgba(213, 166, 189, 1) ◄--*/

$yellow-neon: #ffff00; /*--► rgba(255, 255, 0, 1) ◄--*/
$yellow-dark: #7f6000; /*--► rgba(127, 96, 0, 1) ◄--*/
$yellow-light: #ffe599; /*--► rgba(255, 229, 153, 1) ◄--*/

$orange-neon: #ff9900; /*--► rgba(255, 153, 0, 1) ◄--*/
$orange-dark: #783f04; /*--► rgba(120, 63, 4, 1) ◄--*/
$orange-light: #f9cb9c; /*--► rgba(249, 203, 156, 1) ◄--*/

$blue-neon: #3c90ff; /*--► rgba(0, 0, 255, 1) ◄--*/
$blue-dark: #073763; /*--► rgba(127, 17, 224, 1) ◄--*/
$blue-light: #9fc5e8; /*--► rgba(159, 197, 232, 1) ◄--*/
//==========================================//
$purple-neon: #9900ff; /*--► rgba(153, 0, 255, 1) ◄--*/
$purple-dark: #20124d; /*--► rgba(32, 18, 77, 1) ◄--*/
$purple-light: #b4a7d6; /*--► rgba(180, 167, 214, 1) ◄--*/

$red-neon: #ff0000; /*--► rgba(255, 0, 0, 1) ◄--*/
$red-dark: #660000; /*--► rgba(102, 0, 0, 1) ◄--*/
$red-light: #ea9999; /*--► rgba(234, 153, 153, 1) ◄--*/

$brown-neon: #a97142; /*--► rgba(169, 113, 66, 1) ◄--*/
$brown-dark: #4f341d; /*--► rgba(79, 52, 29, 1) ◄--*/
$brown-light: #ffd3af; /*--► rgba(255, 211, 175, 1) ◄--*/

$grey-neon: #bec2cb; /*--► rgba(190, 194, 203, 1) ◄--*/
$grey-dark: #434343; /*--► rgba(67, 67, 67, 1) ◄--*/
$grey-light: #efefef; /*--► rgba(239, 239, 239, 1) ◄--*/

$turquoise-neon: #00ffff; /*--► rgba(0, 255, 255, 1) ◄--*/
$turquoise-dark: #0c343d; /*--► rgba(12, 52, 61, 1) ◄--*/
$turquoise-light: #a2c4c9; /*--► rgba(162, 196, 201, 1) ◄--*/
//--|▲| Button Colors |▲|--//
/*
$universityLogo: '../../images/svg/university/university-white.svg';
$universityPrimary: '../../images/svg/university/university-purple.svg';
$universitySecondary: '../../images/svg/university/university-maroon.svg';
*/
$akademiaLogo: '../../images/svg/akademia/akademia-white.svg';
$akademiaPrimary: '../../images/svg/akademia/akademia-blue.svg';
$akademiaSecondary: '../../images/svg/akademia/akademia-bronze.svg';

.rain-main {
  #company-logo {
    img[src*='images/svg/**/*.svg'] {
      content: url($akademiaPrimary);
    }
  }
}

.default-header {
  nav {
    div {
      button {
        a {
          img[src*='images/svg/**/*-white.svg'] {
            content: url($akademiaLogo);
          }
          img[src*='images/svg/**/*-secondary.svg'] {
            content: url($akademiaSecondary);
          }
        }
      }
    }
  }
}
