@import 'colors.scss';
/*--|►| #operasioneel-header <header> |◄|--*/
#operasioneel-header {
  z-index: 1;
  display: grid;
  grid-row: 1/2;
  grid-column: 2/6;
  grid-template-rows: 40px;
  grid-template-columns: 1fr 250px 2fr 250px 1fr 145px;
  filter: drop-shadow(0 8px 16px $primary-medium);
}

/*--▼ .default-header ▼--*/
.default-header {
  background: $primary-dark;
  //--|▼| Button Placement |▼|--//
  nav[id*='operasioneel'] {
    grid-column: 2/3;

    div button a h1 {
      padding: 3px 0 3px 46px;
    }
  }
  nav[id*='departemente'] {
    grid-column: 4/5;

    div button a h1 {
      padding: 3px 0 3px 40px;
    }
  }
  //--|▲| Button Placement |▲|--//
  //--|▼| Button Styling |▼|--//
  nav {
    grid-row: 1/2;
    div {
      display: flex;
      grid-column: 2/3;
      justify-content: center;
      button {
        border: none;
        outline: none;
        background: none;
        a {
          display: flex;
          text-decoration: none;
          color: $secondary-light;

          svg {
            margin: 3px 0;
            position: fixed;
            font-size: 2rem;
            color: $primary-light;
          }
          img {
            height: 34px;
            margin: 3px 0;
            display: flex;
            position: fixed;
          }

          svg:nth-child(1) {
            opacity: 100;
            color: $primary-light;
            transition: opacity 0.25s;
          }
          svg:nth-child(2) {
            opacity: 0;
            color: $secondary-dark;
            transition: opacity 0.25s;
          }
        }
        //--|▼| Header Button Animation |▼|--//
        a {
          img:nth-child(1) {
            opacity: 100;
            transition: opacity 0.25s;
          }
          img:nth-child(2) {
            opacity: 0;
            transition: opacity 0.25s;
          }
          h1 {
            clip-path: inset(0 100% 0 0);
            transition: clip-path 0.5s;
          }
        }
        //--|▲| Header Button Animation |▲|--//
      }
    }
    div[class*='active'] {
      button {
        a {
          svg:nth-child(1) {
            opacity: 0;
          }
          svg:nth-child(2) {
            opacity: 100;
            filter: drop-shadow(0 0 0.75rem $secondary-light);
          }

          img:nth-child(1) {
            opacity: 0;
          }
          img:nth-child(2) {
            opacity: 100;
            filter: drop-shadow(0 0 0.75rem $secondary-light);
          }
          h1 {
            clip-path: inset(0 -40px 0 0);
            filter: drop-shadow(0 0 0.75rem $secondary-medium);
          }
        }
      }
    }
  }
  //--|▲| Button Styling |▲|--//
}
/*
@media only screen and (max-width: 1920px) {
}
@media only screen and (max-width: 1366px) {
}
@media only screen and (max-width: 1024px) {
}
*/
